<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Joseph">
    <meta name="description" content="PC Part picker and recommender system">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Choose Your Parts</title>
</head>

<body>
    <header>
        <div>
            <nav>
                <a href="Home.html" draggable="false"><img src="images/white-frame-free-png.png" class="logo"
                        draggable="false"></a>
                <ul>
                    <li><a href="CustomPC.html" draggable="false">Builder</a></li>
                    <li><a href="Comparison.html" draggable="false">Comparison</a></li>
                    <li><a href="" draggable="false">Support</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
    <h1>Choose Your Parts</h1>
    <table>
        <thead>
            <tr>
                <th style="width: 20%">Component</th>
                <th>Selected</th>
                <th style="width: 100px;">Price</th>
                <th style="width: 100px;">Compatability</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="Comparison.html">Motherboard</a></td>
                <td>
                    <select v-model="selectedMotherboard">
                        <option v-for="mb in motherboards" :value="mb.price">{{ mb.name }}</option>
                    </select>
                </td>
                <td>{{ selectedMotherboard }}</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="Comparison.html">CPU</a></td>
                <td>
                    <select v-model="selectedCPU">
                        <option v-for="cpu in CPUs" :value="cpu.price">{{ cpu.name }}</option>
                    </select>
                </td>
                <td>{{ selectedCPU }}</td>
                <td>
                    <div class="status uncompatiable"> ✖ </div>
                </td>
            </tr>
            <tr>
                <td><a href="Comparison.html">CPU Cooler</a></td>
                <td>
                    <select v-model="selectedCooler">
                        <option v-for="cooler in coolers" :value="cooler.price">{{ cooler.name }}</option>
                    </select>
                </td>
                <td>{{ selectedCooler }}</td>
                <td>
                    <div class="status compatiable"> ✔ </div>
                </td>
            </tr>
            <tr>
                <td><a href="Comparison.html">Memory</a></td>
                <td>
                    <select v-model="selectedMemory">
                        <option v-for="mem in memory" :value="mem.price">{{ mem.name }}</option>
                    </select>
                </td>
                <td>{{ selectedMemory }}</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="Comparison.html">Video Card</a></td>
                <td>
                    <select v-model="selectedGPU">
                        <option v-for="gpu in GPUs" :value="gpu.price">{{ gpu.name }}</option>
                    </select>
                </td>
                <td>{{ selectedGPU }}</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="Comparison.html">Storage</a></td>
                <td>
                    <select v-model="selectedStorage">
                        <option v-for="store in storage" :value="store.price">{{ store.name }}</option>
                    </select>
                </td>
                <td>{{ selectedStorage }}</td>
                <td></td>
            </tr>
            </tr>
        </tbody>
    </table>
    <p>Total Price: {{ totalPrice }}</p>
</div>
<script>
    const App = {
        data() {
            return {
            motherboards: [],
            selectedMotherboard: null,
            CPUs: [],
            selectedCPU: null,
            coolers: [],
            selectedCooler: null,
            memory: [],
            selectedMemory: null,
            GPUs: [],
            selectedGPU: null,
            storage: [],
            selectedStorage: null,
            };
        },
        computed: {
            totalPrice() {
                let total = 0;
                if (this.selectedMotherboard !== null) {
                    total += this.selectedMotherboard
                }
                if (this.selectedCPU !== null) {
                    total += this.selectedCPU
                }
                if (this.selectedCooler !== null) {
                    total += this.selectedCooler
                }
                if (this.selectedGPU !== null) {
                    total += this.selectedGPU
                }
                if (this.selectedMemory !== null) {
                    total += this.selectedMemory
                }
                if (this.selectedStorage !== null) {
                    total += this.selectedStorage
                }
                return total;
            }
        },
        methods: {
            fetchData(url) {
                return fetch(url)
                    .then(response => response.json())
                    .catch(error => {
                        console.error('Error fetching data:', error);
                    });
            }
        },
        mounted() {
            this.fetchData('http://127.0.0.1:5001/ct216-project-57225/us-central1/getMotherboard')
                .then(data => {
                    this.motherboards = data;
                });
            this.fetchData('http://127.0.0.1:5001/ct216-project-57225/us-central1/getCpu')
                .then(data => {
                    this.CPUs = data;
                });
            this.fetchData('http://127.0.0.1:5001/ct216-project-57225/us-central1/getRam')
                .then(data => {
                    this.ram = data;
                });
            this.fetchData('http://127.0.0.1:5001/ct216-project-57225/us-central1/getPsu')
                .then(data => {
                    this.psu = data;
                });
            this.fetchData('http://127.0.0.1:5001/ct216-project-57225/us-central1/getGpu')
                .then(data => {
                    this.GPUs = data;
                });
            this.fetchData('http://127.0.0.1:5001/ct216-project-57225/us-central1/getStorage')
                .then(data => {
                    this.storage = data;
                });
        }
    };

    Vue.createApp(App).mount('#app');
</script>

</body>

</html>
